<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Showing Articles Details</h1>
    <p><strong>Title: <%= @article.title %> </strong></p>
    <p><strong>Description: <%= @article.description %> </strong></p>
  </body>
</html>
