<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    <h1>This is about my alpha-blog created for the Udemy course.</h1>
    <%= link_to 'My Articles', articles_path %> |
    <%= link_to 'Home page', root_path %>
  </body>
</html>
