<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    <h1>This is about my alpha-blog created for Udemy.</h1>
  </body>
</html>
